*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
ul,
li,
p {
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

body {
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    display: block;
    width: 100px;
}

.menu{
    display: flex;
}

.menu li {
    margin-left: 10px;
}

menu li a {
    display: block;
    padding: 10px;
}